*.class
*.in
JavaProgramming4th/bin/
JavaProgramming4th/.settings/org.eclipse.jdt.core.prefs
.metadata/
*.o
my.vip.applets/bin/
JavaProgramming4th/Secure.plugin
*.jar
com.codeeval/
*.classpath
*/.gradle
*/.settings
*/.project