*.class
*.in
JavaProgramming4th/bin/
JavaProgramming4th/.settings/org.eclipse.jdt.core.prefs
.metadata/
*.o
my.vip.applets/bin/
JavaProgramming4th/Secure.plugin
*.jar
com.codeeval/
*.classpath
*/.gradle
*/.settings
*/.project
gradle/build/tmp

!gradle/gradle/wrapper/gradle-wrapper.jar
gradle/build
JDBCTutorial/testdb
derby.log
site
.recommenders/
*.project
Concurrency/.idea
